h1{
    padding: 20px;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2{
	padding-top : 25px;
	padding-left: 10%;
    padding-right: 10%;
}

h4{
	padding-left: 10%;
    padding-right: 10%;
	padding-top: 20px;
}

h6{
	padding-left: 10%;
    padding-right: 10%;
}

h1, h2, h3, h4, h5, h6, th {
    text-transform: none !important;
	letter-spacing: 1px !important;
}

th {
	font-size: 0.9rem !important;
}

td{
    
	vertical-align: middle !important;
}

body{
	font-family:arial, sans-serif;
	font-size:100%;
}

#tableau{
	padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    text-align: center;
}

p{
    margin-left: 3%;
}
#click{
    display:none;
}

#click:checked ~ .specifier{
    display: block;
}

.specifier{
    background: #fff;
    width: 510px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    font-size: 18px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    display: none;
}
.show{
    cursor: pointer;
    padding: 10px;
    background: #55595c;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 30px;
    margin-left: 40%;
    border:none;
    outline: none;
    border: 1px solid #999;
    border-radius: 15px;
}
select{
    height: 100%;
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0 !important;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
form input {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.spe-btn {
	
    background-color: #55595c;
    color: #fff;
    width: 70%;
    padding: 10px;
    border-radius:20px;
    margin-bottom: 10px;
    font-size: 15px;
    border:none;
    outline: none;
    cursor: pointer;
}
form {
    padding-left: 10%;
    padding-right: 10%;
}

