h1{
    padding: 20px;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2{
	padding-top : 25px;
	padding-left: 10%;
    padding-right: 10%;
}

h4{
	padding-left: 10%;
    padding-right: 10%;
	padding-top: 20px;
}

h1, h2, h3, h4, h5, h6, th {
    text-transform: none !important;
	letter-spacing: 1px !important;
}
th {
	font-size: 0.9rem !important;
}

body{
	font-family:arial, sans-serif;
	font-size:100%;
}
#tableau{
	padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    text-align: center;
}

.ajoutf{
    background: #fff;
    width: 510px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    font-size: 18px;
    margin-left: auto;
	margin-right: auto;
    display: none;
}
.retirerV{
    background: #fff;
    width: 510px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    font-size: 18px;
    margin-left: auto;
	margin-right: auto;
    display: none;
}

#click{
    display:none;
}
#clickr{
    display: none;
}
.show{
    cursor: pointer;
    padding: 10px;
    background: #55595c;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 30px;
    margin-left: 30%;
    border:none;
    outline: none;
    border: 1px solid #999;
    border-radius: 15px;
}
.showr{
    cursor: pointer;
    padding: 10px;
    background: #55595c;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 30px;
    margin-left: 20%;
    border:none;
    outline: none;
    border: 1px solid #999;
    border-radius: 15px;
}
select{
    height: 100%;
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0 !important;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
form {
    padding-left: 7%;
    padding-right: 7%;
}

form h3{
    margin-left: 7%;
}

#click:checked ~ .ajoutf{
    display: block;
}
#clickr:checked ~ .retirerV{
    display: block;
}

.fa-times{
    color: #55595c;
    cursor: pointer;
    margin-left: 100%;
    margin-bottom: 3%;
}

form input {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.add-btn {
    background-color: #55595c;
    color: #fff;
    width: 70%;
    padding: 10px;
    border-radius:20px;
    margin-left: 15%;
    margin-bottom: 10px;
    font-size: 15px;
    border:none;
    outline: none;
    cursor: pointer;
}

#bouton2{
    padding: 7px;
    background: #55595c;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border:none;
    outline: none;
    border: 1px solid #999;
    border-radius: 15px;
}
